.recipe_list {
  display: flex;
  flex-wrap: wrap;

  li {
    list-style: none;
    padding: 1rem 0;
    text-transform: uppercase;
  }
}

.recipe_card {
  background: #1e2025;
  margin: 1rem;
  border-radius: 1rem;
  padding: 2.5rem 0;
  box-shadow: -1px 1px 17px -5px rgba(0, 0, 0, 0.75);

  a {
    color: white;
    text-decoration: none;
    max-width: 30rem;
    display: inline-block;
    font-size: 2rem;
  }

  h1 {
    font-size: 2rem;
    padding: 1.5rem 3rem;
  }

  .image {
    width: 100%;
    max-width: 23rem;
    height: auto;
  }
}
